@import '../../variables.scss';

.constant-offers {

	.content {
		padding: 0 3.5%;

		@media screen and (min-width: 1280px) {
			padding: 0 5%;
		}
	}

	.content-header {
		margin-bottom: 25px;
		position: relative;

		h1 {
			font-family: 'Playfair Display', serif;
			font-size: 45px;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			@media screen and (min-width: 1280px) {
				font-size: 52px;
				text-align: right;
			}

			&:before {
				display: none;

				@media screen and (min-width: 1280px) {
					content: "";
					position: absolute;
					display: block;
					height: 2px;
					background: $color-pink;
					width: 60%;
					left: 0;
					top: 35px;
				}
			}
		}

		.ghost-text {
			display: none;

			@media screen and (min-width: 1280px) {
				font-family: 'Playfair Display', serif;
				font-size: 102px;
				font-weight: bold;
				color: rgba(242, 212, 203, 0.2);
				display: inline;
				position: absolute;
				top: -55px;
				right: 0
			}
		}

		p {
			font-size: 16px;
			line-height: 1.88;
		}
	}

	h2 {
		color: $color-blue;
		//padding: 0 15px;

		@media screen and (min-width: 1280px) {
			padding: 0;
		}
	}

	.explanation h2 {
		font-family: 'Playfair Display', serif;
	}

	.explanation .signs {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;

		/*@media screen and (min-width: 768px) {
			justify-content: center;
		}*/

		@media screen and (min-width: 1280px) {
			margin-top: 25px;
			margin-bottom: 65px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
			// border: 2px solid red;
			border-radius: 6px;
			padding: 20px 0;
			justify-content: center;
		}

		.sign {
			width: 50%;
			display: flex;
			margin-bottom: 30px;

			@media screen and (min-width: 768px) {
				width: 30%;
				align-items: center;
				justify-content: center;
			}

			@media screen and (min-width: 1280px) {
				width: auto;
				margin: 0 20px;
			}
		}

		.sign img {
			margin-right: 15px;
			width: 50px;
			height: 50px;
		}

		.sign-text-wrap {
			display: flex;
			flex-direction: column;
		}

		.sign-text-wrap h4 {
			margin: 0;
			margin-bottom: 10px;
			padding: 0;
			font-size: 10px;
			font-weight: 900;
			color: #ccc;
		}

		.sign-text-wrap span {
			color: $color-blue;
		}
	}

	.cakes {
		display: flex;
		flex-direction: column;
		align-self: center;
		justify-content: center;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.cake {
			position: relative;
			display: inline-block;
			overflow: hidden;
			border: 1px solid $color-pink;
			border-radius: 6px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
			padding-bottom: 20px;
			width: 255px;
			margin: 0 auto;
			margin-bottom: 30px;

			@media screen and (min-width: 768px) {
				width: 45%;
				justify-content: space-evenly;
			}

			@media screen and (min-width: 1280px) {
				width: 22%;
				//margin: 0 20px;
			}
		}

		.cake .tags {
			position: absolute;
			top: 15px;
			right: 15px;
			z-index: 0;

			.tag {
				background: $color-pink;
				color: white;
				display: inline-block;
				padding: 10px 20px;
				border-radius: 6px;
				font-size: 10px;

			}
		}

		.cake .image-wrap {
			height: 200px;
			overflow: hidden;
			position: relative;
			flex: 1;
			width: 105%;
			z-index: -1;
		}

		.cake .image-wrap img {
			width: 100%;
			position: absolute;
		}

		.cake h2 {
			font-family: 'Playfair Display', serif;
			font-size: 20px;
			text-align: center;
		}

		.cake h3 {
			padding: 0;
			margin: 0;
			margin-bottom: 15px;
			text-align: center;
			font-size: 14px;
			color: #666;

		}

		.cake .signs {
			text-align: center;
		}

		.cake .signs img {
			margin: 0 10px;
			width: 35px;
		}
	}
}
