@import '../../variables.scss';

.seasonal-offers {

	.content {
		padding: 0 3.5%;

		@media screen and (min-width: 1280px) {
			width: 100%;
			margin: 0 auto;
			padding: 0 3.5%;
			max-width: 1440px;
		}
	}

	.content-header {
		margin-bottom: 25px;
		position: relative;

		h1 {
			font-family: 'Playfair Display', serif;
			font-size: 45px;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			@media screen and (min-width: 1280px) {
				font-size: 52px;
				text-align: right;
			}

			&:before {
				display: none;

				@media screen and (min-width: 1280px) {
					content: "";
					position: absolute;
					display: block;
					height: 2px;
					background: $color-pink;
					width: 60%;
					max-width: 700px;
					left: 0;
					top: 35px;
				}
			}
		}

		.ghost-text {
			display: none;

			@media screen and (min-width: 1280px) {
				font-family: 'Playfair Display', serif;
				font-size: 102px;
				font-weight: bold;
				color: rgba(242, 212, 203, 0.2);
				display: inline;
				position: absolute;
				top: -55px;
				right: 0
			}
		}

		p {
			font-size: 16px;
			line-height: 1.88;
		}
	}

	.season-header {
		width: 100%;
		display: flex;
		align-items: center;
		height: 260px;
		justify-content: center;
		border-radius: 6px;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
		margin-bottom: 45px;

		@media screen and (min-width: 1280px) {
			height: 420px;
			margin-bottom: 60px;
		}

		h2 {
			color: white;
			position: relative;
			font-family: 'Playfair Display', serif;
			font-size: 42px;
			line-height: 1.43;
			font-weight: bold;
			text-align: center;
			margin-top: 45px;

			@media screen and (min-width: 1280px) {
				font-size: 64px;
			}
		}

		h2 span {
			color: white;
			position: absolute;
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: 900;
			letter-spacing: 2px;
			top: -35px;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			width: 100%;
			text-align: center;
		}
	}

	h2 {
		color: $color-blue;
		//padding: 0 15px;

		@media screen and (min-width: 1280px) {
			padding: 0;
		}
	}

	.explanation h2 {
		font-family: 'Playfair Display', serif;
		margin-bottom: 35px;
	}

	.explanation .signs {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;

		/*@media screen and (min-width: 768px) {
			justify-content: center;
		}*/

		@media screen and (min-width: 1280px) {
			margin-top: 25px;
			margin-bottom: 65px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
			// border: 2px solid red;
			border-radius: 6px;
			padding: 20px 0;
			justify-content: center;
		}

		.sign {
			width: 50%;
			display: flex;
			margin-bottom: 30px;

			@media screen and (min-width: 768px) {
				width: 30%;
				align-items: center;
				justify-content: center;
			}

			@media screen and (min-width: 1280px) {
				width: auto;
				margin: 0 20px;
			}
		}

		.sign img {
			margin-right: 15px;
			width: 50px;
			height: 50px;
		}

		.sign-text-wrap {
			display: flex;
			flex-direction: column;
		}

		.sign-text-wrap h4 {
			margin: 0;
			margin-bottom: 10px;
			padding: 0;
			font-size: 10px;
			font-weight: 900;
			color: #ccc;
		}

		.sign-text-wrap span {
			color: $color-blue;
		}
	}

	.cakes {
		display: flex;
		flex-direction: column;
		align-self: center;
		justify-content: center;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.cake {
			position: relative;
			display: inline-block;
			overflow: hidden;
			border: 1px solid transparent;
			border-radius: 6px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
			padding-bottom: 20px;
			width: 345px;
			margin: 0 auto;
			margin-bottom: 30px;

			@media screen and (min-width: 768px) {
				width: 45%;
				max-width: 550px;
				justify-content: space-evenly;
			}

			@media screen and (min-width: 1280px) {
				width: 50%;
				//margin: 0 20px;
			}

			h2 {
				margin: 15px 0;
			}
		}

		.cake-content-wrap {
			@media screen and (min-width: 1280px) {
				display: flex;
				flex-direction: row;
				//margin: 0 20px;
				width: 90%;
				margin: 0 auto;
			}
		}

		.cake .tags-and-price {
		 /*position: absolute;
			top: 15px;
			right: 15px;
			z-index: 0; */
			width: 90%;
			margin: 0 auto;
			margin-top: 20px;
			margin-bottom: 10px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.tag {
				background: $color-pink;
				color: white;
				display: inline-block;
				padding: 10px 20px;
				border-radius: 6px;
				width: 140px;
				text-align: center;
				font-family: 'Roboto', sans-serif;
				font-size: 10px;
				font-weight: 900;
				letter-spacing: 1.3px;
			}
		}

		.cake .image-wrap {
			height: 245px;
			overflow: hidden;
			position: relative;
			width: 90%;
			z-index: -1;
			margin: 0 auto;
			margin-bottom: 25px;

			@media screen and (min-width: 1280px) {
				max-width: 250px;
				height: 250px;
				margin: 0;
			}
		}

		.cake .cake-info {
			@media screen and (min-width: 1280px) {
				flex: 1;
			}
		}

		.cake h2,
		.cake .calorie-count,
		.cake .signs {
			width: 90%;
			margin: 0 auto;
		}

		.cake h2 {
			font-family: 'Playfair Display', serif;
			font-size: 20px;
			text-align: left;
			margin-bottom: 5px;
		}

		.cake h3 {
			padding: 0;
			margin: 0;
			//margin-bottom: 15px;
			font-weight: 900;
			text-align: left;
			font-size: 14px;
			color: #666;
		}

		.cake .calorie-count {
			font-family: 'Roboto', sans-serif;
			font-size: 13px;
			font-weight: 300;
			color: #b3b3b3;
		}

		.cake .signs {
			text-align: left;
			margin-top: 15px;
		}

		.cake .signs img {
			margin: 0;
			margin-right: 10px;
			width: 35px;
		}

	}
}
