@import '../../variables.scss';

.home .content {
	padding-top: 50px;

	h1 {
		font-family: 'Playfair Display', serif;
		font-size: 32px;
		font-weight: 900;
		color: $color-blue;

		@media screen and (min-width: 1280px) {
			font-size: 52px;
		}

		&:after {
			content: "";
			display: block;
			width: 55%;
			height: 2px;
			background: $color-pink;
			margin-top: 25px;
		}
	}

	h2 {
		text-align: center;
		font-family: 'Playfair Display', serif;
		font-size: 52px;
		font-weight: bold;
		color: $color-blue;
		margin: 0;
		position: relative;
		//margin-bottom: 10px;
	}

	p {
		line-height: 1.88;
		margin-bottom: 20px;
		padding-right: 20px;

		@media screen and (min-width: 1280px) {
			font-size: 16px;
		}
	}

	/* SLIDER */

	.slick-slide div {
		display: flex;
		align-items: center;
		justify-content: center;

	}

	.ghost-text {
		display: none;

		@media screen and (min-width: 1280px) {
			display: block;
			position: absolute;
			font-size: 105px;
			font-weight: bold;
			color: rgba(242, 212, 203, 0.2);
			top: -60px;
			z-index: -1;
		}
	}



	.top-section,
	.welcome {
		padding: 0 15px;
	}

	.top-section {
		margin-bottom: 75px;

		@media screen and (min-width: 1280px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 0 5%;
		}
	}

	.top-section-1 {
		margin-bottom: 25px;

		@media screen and (min-width: 1280px) {
			width: 450px;
			margin-right: 105px;
			margin-bottom: 0;
		}

		.buttons {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media screen and (min-width: 1280px) {
				justify-content: center;
			}

			button {
				width: 155px;
				padding: 15px 20px;
				color: white;
				background: $color-pink;
				border-radius: 25px;
				border: none;
				font-family: 'Roboto', sans-serif;
				font-size: 12px;
				font-weight: 900;
				letter-spacing: 1.5px;
				box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);

				@media screen and (min-width: 1280px) {
					margin: 0 20px;
				}

				&:active {
					background: $color-mildpink;
				}
			}
		}
	}

	.top-section-2 {
		border: 2px solid red;
		@media screen and (min-width: 1280px) {
			flex: 1;
		}
	}

	.welcome {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		@media screen and (min-width: 1280px) {
			padding: 0 10%;
			margin-bottom: 40px;
		}

		h2 {
			flex-basis: 100%;
			position: relative;
			z-index: 0;
			display: flex;
			align-items: center;
			justify-content: center;

			@media screen and (min-width: 1280px) {
				margin-bottom: 40px;
				text-align: left;
				padding-left: 25%;
				justify-content: flex-start;
			}

			.ghost-text {
				@media screen and (min-width: 1280px) {
					transform: translateX(-50%);
				}
			}

			&:after {
				display: none;

				@media screen and (min-width: 1280px) {
					content: "";
					display: block;
					position: absolute;
					height: 2px;
					width: 50%;
					background: $color-pink;
					right: -5%;
				}
			}

		}

		p {
			@media screen and (min-width: 1280px) {
				width:50%;
			}
		}

		img {
			display: none;

			@media screen and (min-width: 1280px) {
				display: inline-block;
				width: 45%;
			}
		}

	}

	.owner {
		padding: 0 15px;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 75px;

		@media screen and (min-width: 1280px) {
			padding: 0 10%;
		}

		img {
			width: 55px;
		}

		.owner-info {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			margin-left: 10px;
		}

		.owner-info .name {
			font-family: 'Playfair Display', serif;
			font-size: 22px;
			font-weight: bold;
			margin: 0;
			padding: 0;
			color: $color-blue;
		}
		.owner-info .title {
			font-family: 'Playfair Display', serif;
			font-size: 16px;
			font-weight: 900;
			letter-spacing: 1px;
			color: $color-pink;
		}
	}

	.cakes {
		margin-bottom: 50px;
		display: flex;
		flex-direction: column;

		@media screen and (min-width: 1280px) {
			margin-bottom: 75px;
		}

		h2 {
			@media screen and (min-width: 1280px) {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				padding: 0 25%;
			}

			&:after {
				display: none;

				@media screen and (min-width: 1280px) {
					content: "";
					display: block;
					position: absolute;
					height: 2px;
					width: 50%;
					background: $color-pink;
					left: 10%;
				}
			}
		}

		h2 .ghost-text {
			@media screen and (min-width: 1280px) {
				transform: translateX(50%);
			}
		}

		.slider-wrap {
			margin-top: 25px;
		}

		.cake {
			display: flex !important;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			border-radius: 10px;
			background-color:	#f3f3f3;
			background-image: linear-gradient(1deg, rgba(248, 141, 153, 0.53), rgba(255, 187, 153, 0));
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
			width: 254px !important;
			height: 254px;
			outline: none;

			h3 {
				color: white;
				font-size: 24px;
			}

			@media screen and (min-width: 768px) {
				width: 95% !important;
				height: 200px;
			}
		}

		button.all-product {
			width: 200px;
			margin: 30px auto;
			padding: 15px 20px;
			color: white;
			background: $color-pink;
			border-radius: 25px;
			border: none;
			font-family: 'Roboto', sans-serif;
			font-size: 12px;
			font-weight: 900;
			letter-spacing: 1.5px;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);

			&:active {
				background: $color-mildpink;
			}

			@media screen and (min-width: 1280px) {
				margin: 75px auto;
			}
		}

	}

	.shops {
		margin-bottom: 75px;
		display: flex;
		flex-direction: column;
		padding: 0 15px;

		@media screen and (min-width: 1280px) {
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: 0 5%;
		}

		h2 {
			width: 100%;
			position: relative;
			z-index: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 25px;

			@media screen and (min-width: 1280px) {
				margin-bottom: 0;
				width: 50%;
				text-align: left;
				padding-left: 20%;
				justify-content: flex-start;
			}

			.ghost-text {
				@media screen and (min-width: 1280px) {
					transform: translateX(-50%);
				}
			}
		}
	}

	.shops .locations-wrap {
		flex: 1;
		border: 2px solid $color-pink;
		border-radius: 10px;
		padding: 0 15px;
		display: flex;
		align-items: center;
		justify-content: space-around;

		@media screen and (min-width: 1280px) {
			width: 50%;
		}

		span {
			display: inline-block;
			padding: 35px 0;
			cursor: pointer;
		}

		span.selected {
			color: $color-blue;
			font-weight: bold;
		}
	}

	.shops .location-info {
		display: flex;
		// border: 2px solid red;
		width: 100%;
		margin-top: 35px;
		flex-direction: column;
		align-items: center;

		@media screen and (min-width: 1280px) {
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
		}

		img {
			width: 185px;

			@media screen and (min-width: 1280px) {
				width: 355px;
				margin-right: 75px;
			}
		}
	}

	.shops .location-details {
		@media screen and (min-width: 1280px) {
			padding-top: 15px;
			flex-basis: 35%;
		}

		.detail-title {
			font-family: 'Roboto', sans-serif;
			font-size: 14px;
			font-weight: 300;
			color: #cccccc;
			margin-bottom: 8px;
		}

		.address-text {
			font-size: 24px;
			font-weight: 300;
			font-style: italic;
			color: $color-blue;
		}
	}

	.location-details .address {
		display: flex;
		flex-direction: column;
		margin-bottom: 35px;
	}

	.location-details .details-row {
		display: flex;
		margin-bottom: 30px;
		flex-direction: column;

		@media screen and (min-width: 1280px) {

			flex-direction: row;
		}

		.phone-text,
		.day {
			color: $color-pink;
		}

		.phone-text .icon {
			color: $color-blue;
			margin-right: 15px;
		}

		.details-1,
		.details-2 {
			width: 100%;
			@media screen and (min-width: 1280px) {
				width: 50%;

			}
		}

		.details-2 .detail-title {
			padding-left: 25px;
		}

		.details-2 .opening-hours {
			display: flex;
			flex-direction: column;
			margin-top: 5px;
			position: relative;
			padding-left: 25px;

			.clock-icon {
				position: absolute;
				margin-left: -25px;
			}

			.day {
				display: flex;
				align-items: center;
				margin-bottom: 10px;
				justify-content: space-between;
				padding-right: 75px;

				@media screen and (min-width: 1280px) {
					justify-content: space-between;
					padding-right: 0;
				}
			}
		}

		.detail {
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;

			@media screen and (min-width: 1280px) {
				margin-bottom: 45px;

			}
		}

		.detail .detail-title {
			padding-left: 25px;
		}
	}

	.location-details .buttons {
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (min-width: 1280px) {
			justify-content: flex-start;
		}

		button {
			// width: 155px;
			padding: 15px 20px;
			color: white;
			background: $color-pink;
			border-radius: 25px;
			border: none;
			font-family: 'Roboto', sans-serif;
			font-size: 12px;
			font-weight: 900;
			letter-spacing: 1.5px;
			box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);

			@media screen and (min-width: 1280px) {
				// margin: 0 20px;
				// padding: 15px;
				width: 120px;
			}

			&:active {
				background: $color-mildpink;
			}
		}

		button.email {
			margin-right: 30px
		}
	}



	/* ==== BLOCK ==== */

	.blocks {
		display: flex;
		flex-direction: column;
		padding: 0 15px;
		align-items: center;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			justify-content: space-around;
			flex-wrap: wrap;
		}

		.constant,
		.seasonal,
		.ordering {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 345px;
			height: 345px;
			border-radius: 6px;
			// border: 2px solid red;
			margin-bottom: 20px;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
			overflow: hidden;

			@media screen and (min-width: 768px) {
				width: 30%;
				max-width: 345px;
			}

			&:before {
				content: "";
				display: block;
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				background-image: linear-gradient(1deg, rgba(248, 141, 153, 0.53), rgba(255, 187, 153, 0));
			}

			h3 {
				color: white;
				font-size: 28px;
				font-weight: bold;
				line-height: 1.32;
				text-align: center;
				text-shadow: 0 1px 7px rgba(0, 0, 0, 0.29);
				position: relative;
				z-index: 1;
			}
		}

		.constant {
			background:url('../../images/allando.png') bottom center no-repeat;
		}

		.seasonal {
			background:url('../../images/szezonalis.png') bottom center no-repeat;
		}

		.ordering {
			background:url('../../images/alkalmakra.png') bottom center no-repeat;
		}
	}
}
